/*
 *  Document   : main.css
 *  Author     : pixelcave
 *  Description: The main stylesheet of the template
 *
 *  Structure (with shortcodes):
 *      (#m01mls) MAIN LAYOUT
 *      (#m02hds) HEADER
 *      (#m03mcs) MAIN CONTENT
 *      (#m04bos) BOOTSTRAP OVERWRITE/EXTEND STYLES
 *      (#m05ths) THEME
 *      (#m06hes) HELPERS
 *      (#m07res) RESPONSIVE
 *      (#m08rts) RETINA
 */

/*
=================================================================
(#m01mls) MAIN LAYOUT
=================================================================
*/

/* Include Open Sans font from Google Web Fonts */
@import url('http://fonts.googleapis.com/css?family=Open+Sans:300,400,400italic,600,600italic,700,700italic');

/* Preloader */
#page-wrapper.page-loading {
    overflow: hidden;
}

    #page-wrapper.page-loading .preloader {
        display: block;
    }

    #page-wrapper.page-loading #page-container {
        opacity: 0.2 !important;
    }

.preloader {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1) !important;
    z-index: 99999;
}

    .preloader .inner {
        position: fixed;
        top: 20%;
        left: 50%;
        margin: 0 0 0 -50px;
        width: 100px;
        height: 100px;
        text-align: center;
    }

@-webkit-keyframes nprogress-spinner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes nprogress-spinner {
    0% {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes nprogress-spinner {
    0% {
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-ms-keyframes nprogress-spinner {
    0% {
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes nprogress-spinner {
    0% {
        transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.preloader-spinner {
    width: 24px;
    height: 24px;
    border: 3px solid transparent;
    border-left-color: #ffffff;
    border-right-color: #ffffff;
    border-top-color: #ffffff;
    border-radius: 50%;
    -webkit-animation: nprogress-spinner .4s linear infinite;
    -moz-animation: nprogress-spinner .4s linear infinite;
    -ms-animation: nprogress-spinner .4s linear infinite;
    -o-animation: nprogress-spinner .4s linear infinite;
    animation: nprogress-spinner .4s linear infinite;
}

.preloader-spinner {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-width: 3px;
}

/* Store Items */
.store-items {
    margin-bottom: 19px;
}

.store-item {
    padding: 5px;
    position: relative;
    display: block;
    margin-bottom: 30px;
    border: none;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

    .store-item:hover {
        border: none;
    }

a.store-item:hover {
    /*-webkit-transform: translateY(-2px);
    transform: translateY(-2px);*/
}

.store-item:hover .store-item-image img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.store-item-info {
    padding: 20px;
    /*background-color: #f9f9f9;*/
}

a.widget.widget-hover-effect1:hover {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    -webkit-box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.1);
}

.widget-hover-effect1 {
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

    .widget-hover-effect1:hover {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
        -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    }

.appinfo .widget-hover-effect1:hover {
    -webkit-box-shadow: 0 5px 5px #AAA;
    box-shadow: 0 5px 5px #AAA;
}

a.widget.widget-hover-effect1:active {
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Pagination & Pager */
.pagination > li > a,
.pagination > li > span {
    margin-left: 5px;
    margin-right: 5px;
    border: none !important;
    border-radius: 25px !important;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    font-weight: 600;
}

.pager > li > a,
.pager > li > span {
    border-color: #eaedf1;
}

    .pager > li > a:hover,
    .pagination > li > a:hover {
        background-color: #337ab7;
        border-color: #337ab7;
        color: #ffffff;
    }

.pager > li.disabled > a:hover {
    border-color: #eaedf1;
}

.divPost {
    font-size: 16px !important;
}

.blog-title {
    color: #337ab7;
    font-size: 22px;
    font-family: dinproCondensedBold;
    margin-bottom: 2px;
    margin: 0px;
    padding: 10px 0;
}

.post {
    height: 470px;
    border: 2px solid #eeeeee !important;
    padding: 0px !important;
    color: #999;
}

.blog-short-desc {
    height: 228px;
    font-size: 18px;
    font-family: dinproRegular;
}

.post-search {
    height: 205px;
    border: 2px solid #eeeeee !important;
    padding: 0px !important;
}

.blog-short-desc-search {
    height: 162px;
    font-size: 18px;
    font-family: dinproRegular;
}


@media screen and (max-width: 1250px) and (min-width: 992px) {
    .post {
        height: 480px;
        border: 2px solid #eeeeee !important;
        padding: 0px !important;
        color: #999;
    }

    .blog-short-desc {
        height: 240px !important;
    }
}

@media screen and (max-width: 991px) and (min-width: 521px) {

    .post {
        height: 480px;
        border: 2px solid #eeeeee !important;
        padding: 0px !important;
        color: #999;
    }

    .blog-short-desc {
        height: 230px !important;
    }

    .post-search {
        height: 240px;
        border: 2px solid #eeeeee !important;
        padding: 0px !important;
        color: #999;
    }

    .blog-short-desc-search {
        height: 195px;
        font-size: 18px;
        font-family: dinproRegular;
    }
}


@media screen and (max-width: 520px) and (min-width: 381px) {

    .post {
        height: 500px;
        border: 2px solid #eeeeee !important;
        padding: 0px !important;
        color: #999;
    }

    .blog-short-desc {
        height: 250px !important;
    }
}

@media screen and (max-width: 380px) {
    .post {
        height: 560px;
        border: 2px solid #eeeeee !important;
        padding: 0px !important;
        color: #999;
    }

    .blog-short-desc {
        height: 318px;
    }
}

@media screen and (max-width: 520px) {

    .post-search {
        height: 375px;
        border: 2px solid #eeeeee !important;
        padding: 0px !important;
        color: #999;
    }

    .blog-short-desc-search {
        height: 340px;
        font-size: 18px;
        font-family: dinproRegular;
    }
}

.line_ani {
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
}


    /*.line_ani:after {
        content: '';
        display: block;
        margin: auto;
        height: 1px;
        width: 0px;
        background: transparent;
        transition: width .5s ease, background-color .5s ease;
    }*/

    .line_ani:hover:after {
        width: 100%;
        background: #1bbae1;
    }

    .line_ani:hover {
        text-decoration: none !important;
    }

.divPostDetail {
    line-height: 2.0 !important;
}

.tag-category-list {
    padding-top: 25px !important;
}

.pagination .next {
    position: absolute;
    right: 0;
    font-size: 18px;
    font-family: dinproRegular;
}

.pagination .previous {
    position: absolute;
    left: 0;
    font-size: 18px;
    font-family: dinproRegular;
}

.read-more {
    font-family: dinproRegular;
    padding-right: 20px;
    margin: 5px 0px 0px 10px;
}

.blog-page {
    font-family: dinproRegular !important;
}

.p-15 {
    padding: 0 15px;
}

.p-b-12 {
    padding-bottom:12px;
}

.divPostDetail p {
    font-size: 18px;
}

.blog-page .form_group {
    background-color: #d7eff8;
    padding: 35px 22px 35px 22px;
    border-radius: 25px;
}
/*#blog-page .form_group input {
    background-color: #fff;
    border-radius: 19px;
    padding: 10px 15px 10px 15px;
    border: none;
    margin-bottom: 16px;
    width: 100%;
    outline: none;
    font-family: dinproRegular;
}*/

.input-group {
    background-color: #fff;
    border-radius: 19px;
    padding: 7px 15px 8px 15px;
    border: none;
    margin-bottom: 16px;
    width: 100%;
    outline: none;
    font-family: dinproRegular;
}

    .input-group input, .input-group textarea {
        width: 100%;
        border: none;
    }

        .input-group input:active, .input-group input:focus, textarea {
            width: 100%;
            outline: none !important;
        }
#s {
    border:1px solid #ccc;
}

.alert-success {
    color: #27ae60;
    background-color: #daf2e4;
    border-color: #b8e5cb;
}

.alert {
    border-top-width: 0;
    border-right-width: 2px;
    border-bottom-width: 0;
    border-left-width: 2px;
}
.alert-success {
    color: #27ae60;
    background-color: #daf2e4;
    border-color: #b8e5cb;
}

.alert {
    border-top-width: 0;
    border-right-width: 2px;
    border-bottom-width: 0;
    border-left-width: 2px;
}

.alert-danger {
    color: #e74c3c;
    background-color: #ffd1cc;
    border-color: #ffb8b0;
}

    .alert-danger .alert-link {
        color: #e74c3c;
    }

.alert-warning {
    color: #e67e22;
    background-color: #ffe4cc;
    border-color: #ffd6b2;
}

    .alert-warning .alert-link {
        color: #e67e22;
    }

.btn-search {
    color: #fff !important;
    background-color: #f9b700;
    border-color: #f9b700;
}

.sidebar-title {
    color: #2bafe2;
}